#container {
  width: 500px;
  margin: 0 auto;
  /* 子要素をabsoluteにするために */
  position: relative;
    
  height: 150px;
  background-color: black;
  border: 1px solid black;
}

.title {
  /* top, leftを指定するため */
  position: absolute;
  top: 50%;
  left: 50%;
  /* このdiv要素の縦横幅の半分調整する */
  transform: translate(-50%, -50%);
  
  width: 100px;
  color: white;
}